/ #global-alert.w-clearfix.global-alert.u-text-center.w-hidden
/   = link_to ' ', '#', class: 'link-icon-light fa fa-close fa-lg u-right', id: 'close-global-alert'
/   .w-container
/     | Welcome to the new PRODUCE Run!.
