- Contribution = @notification.contribution
| Project: #{contribution.project.name}
br
|Key: #{contribution.key}
br
|Created: #{contribution.created_at}
br
|Confirmed at: #{contribution.confirmed_at}
