- Purchase = @ notification.contribution
| Project: # { } contribution.project.name
br /
| Support Key : # { } contribution.key
br /
| ID means of payment : # { } contribution.payment_id
br /
br /
| You have received a notification of cancellation after already having received a notification of confirmation.
br /
| Check the actual means of payment site the status of the transaction and , if support included as confirmed , confirm it in ProduceRun website ( adm / contributions )
