- user = @notification.user
|Hello, <strong>#{user.display_name}</strong> !
br
br
|We saw here that you have  $ #{user.credits} in credits on ProduceRun. How about enjoy yourself and buy into a ProduceRun campaign coming to town?
br
br
|We made some ProduceRun Campaigns suggestions especially for you:
br
br
-user.recommended_projects.limit(3).each do |project|
  |#{link_to(project.name, "#{CatarseSettings[:base_url]}/projects/#{project.to_param}")}
  br
  |#{project.headline}
  br
  br
br
br
|Not to be sure, here's a step-by-step instructions for use of credits:
br
br
|1 - #{link_to('Choose the project you want to support;', explore_url)}
br
|2 - Click I want to support this project;
br
|3 - Place the amount you want to support and select the field confirming that you want to use your credits.
br
|4 - Ready! Your support will be confirmed.
br
|5 - Ready! Your support will be confirmed.
br
br
|If you prefer, you can claim a refund of their money by clicking #{link_to("aqui", "#{CatarseSettings[:base_url]}/users/#{user.to_param}#credits")}.  You will be able to take most of your questions about reimbursement #{link_to('nesse artigo', 'http://support.producerun.com')}.
br
br
|If you have any other questions, please contact us at our Support Center: support.producerun.com
br
br
|Thanks You,
|ProduceRun
