p Hi #{@notification.user.display_name},

p Due to the changes that occurred on the platform last night, some instabilities were reported in access to ProduceRun. These errors are quite specific and are happening because of the system upgrade. It is expected that the site is fully stable up to 36h.

p For the campaigns are not adversely affected by possible access problems, offer the term extension for two days to those who express interest. For this you must send an email to #{CatarseSettings[:email_projects]} entitled "term extension".

p If you have any questions, just let us know.

p Thanks
