- contribution = @notification.contribution
| Hello
br/
br/
| The support #{contribution.key} for the campaign #{contribution.project.name} It was confirmed with the lowest value of the campaign purchase price.
br/
br/
