#announcement
  = image_tag 'icon_alertheader.png'
  p= "Update your email now! Our login system is changing, #{link_to 'Click here to know more', 'http://support.producerun.com', target: '_blank'}.".html_safe
  .clearfix
